<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>wp3x_vue_basic</title>
    <script src="config.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- dll 方式引入本地的第三方库 -->
    <script src="./static/dll/libs_v1_0.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/eruda/1.5.4/eruda.min.js"></script>
    <script>eruda.init();</script> -->
  </body>
</html>
